<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <application>
        <!-- We re-export the RedirectUriReceiverActivity class from appauth, so SDK consumers can override intent filters. So we remove the intent filters added by appauth. -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="remove"
        />
        <activity
            android:name="eu.idura.verify.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="${iduraDomain}" />
                <data android:path="/android/callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>