<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="eu.idura.verify.TestHostActivity"
            android:exported="false" />
        <activity
            android:name="eu.idura.verify.TestPlainHostActivity"
            android:exported="false" />
        <activity
            android:name="eu.idura.verify.TestRegistryOwnerHostActivity"
            android:exported="false" />
        <activity
            android:name="eu.idura.verify.TestNonLifecycleHostActivity"
            android:exported="false" />
    </application>
</manifest>
